<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Ejercicios</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/progress" color="danger">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="filter-section">
      <label for="bodyPartSelect">Selecciona una parte del cuerpo:</label>
      <select id="bodyPartSelect" [(ngModel)]="selectedBodyPart" (change)="onBodyPartChange()" class="body-part-select">
        <option value="">TODAS LAS PARTES:</option>
        <option *ngFor="let part of bodyParts" [value]="part">{{ part }}</option>
      </select>
    </div>

    <div *ngIf="exercises.length > 0; else noExercises" class="exercise-list">
      <div *ngFor="let exercise of exercises" class="exercise-card" (click)="selectExercise(exercise.id)">
        <img [src]="exercise.gifUrl" alt="{{ exercise.name }}" class="exercise-image" (load)="onImageLoad($event)" (error)="onImageError($event)">

        <h3 class="exercise-name">{{ exercise.name }}</h3>
        <p class="exercise-info"><strong>Parte del cuerpo:</strong> {{ exercise.bodyPart }}</p>
        <p class="exercise-info"><strong>EQUIPO:</strong> {{ exercise.equipment }}</p>
        <div *ngIf="selectedExerciseId === exercise.id" class="exercise-instructions">
          <p><strong>Instrucciones:</strong> {{ exercise.instructions }}</p>
        </div>
      </div>
    </div>
    <ng-template #noExercises>
      <p class="no-exercises-message">No se encontraron ejercicios.</p>
    </ng-template>
  </div>
</ion-content>
