.gym-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gym-logo {
  width: 150px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-top: 40px;
  padding: 20px;
}

.gym-item {
  --background: rgba(255, 255, 255, 0.8); // Fondo de los inputs
  --border-radius: 12px;
  margin-bottom: 15px;
}

.gym-button {
  --background: linear-gradient(45deg, #FF3D00, #FF9800); // Degradado naranja
  --border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(255, 61, 0, 0.5); // Sombra alrededor del botón
}

.register-button {
  --border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #FF9800;
  border: 2px solid #FF9800;
  margin-top: 15px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

ion-header {
  --background: url('../../assets/images/gym-background.jpeg') center / cover no-repeat; // Ajusta la ruta según la ubicación
  --background-blend-mode: multiply;
  height: 56px; // Ajusta la altura según tus necesidades
}
