<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">REGISTRARTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()" [formGroup]="registerForm" class="register-form">
    <ion-item lines="none" class="gym-item">
      <ion-label position="floating">NOMBRE:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="none" class="gym-item">
      <ion-label position="floating">APELLIDO:</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item lines="none" class="gym-item">
      <ion-label position="floating">CORREO ELECTRONICO:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="gym-item">
      <ion-label position="floating">CONTRASEÑA:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" type="submit">REGISTRASE</ion-button>
  </form>
</ion-content>
